<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/about.jpg" style="border-radius: 20px; height: 60vh; width: 100%;" class="d-block mx-lg-auto img-fluid mt-3" loading="lazy" alt="Web App">
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">About Recipes Web App</h1>
    <p class="lead">
      Welcome to our App — your digital kitchen companion! We're here to make your cooking experience delightful and inspire your culinary creativity. Explore our diverse range of recipes, from quick treats to wholesome meals, all crafted for simplicity and flavor.
    </p>

    <p class="lead">
      Join our vibrant community of food enthusiasts and share the joy of cooking. Whether you're a seasoned chef or a kitchen novice, there's something for everyone. Let's turn every meal into a celebration of taste and togetherness. Happy cooking!
    </p>
  </div>
</div>
